<mat-card>
   <div class="form-container">
      <mat-form-field appearance="standard">
         <mat-label>Item</mat-label>
         <input matInput placeholder="enter item name for this invoice">
         <mat-icon matSuffix>item</mat-icon>
      </mat-form-field>

      <mat-form-field>
         <mat-label>Amount</mat-label>
         <input matInput placeholder="budget amount">
         <mat-icon matSuffix>paid</mat-icon>
      </mat-form-field>

      <mat-form-field>
         <mat-label>Quantity</mat-label>
         <input matInput placeholder="how many projects in this budget">
         <mat-icon matSuffix>production_quantity_limits</mat-icon>
      </mat-form-field>

      <mat-form-field>
         <mat-label>Tax</mat-label>
         <input matInput placeholder="how much tax was billed for this budget">
         <mat-icon matSuffix>attach_money</mat-icon>
      </mat-form-field>

      <mat-form-field>
         <mat-label>Date</mat-label>
         <input matInput [matDatepicker]="date" placeholder="choose project start date">
         <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
         <mat-datepicker #date></mat-datepicker>
         <mat-icon matSuffix>date_range</mat-icon>
      </mat-form-field>

      <mat-form-field>
         <mat-label>Due Date</mat-label>
         <input matInput [matDatepicker]="due" placeholder="choose project due date">
         <mat-datepicker-toggle matSuffix [for]="due"></mat-datepicker-toggle>
         <mat-datepicker #due></mat-datepicker>
         <mat-icon matSuffix>date_range</mat-icon>
      </mat-form-field>
   </div>
</mat-card>
