<mat-card>
   <div class="form-container">
      <mat-form-field appearance="standard">
         <mat-label>Item</mat-label>
         <input matInput placeholder="enter item name for this invoice">
         <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>

      <mat-form-field>
         <mat-label>Amount</mat-label>
         <input matInput placeholder="budget amount">
         <mat-icon matSuffix>paid</mat-icon>
      </mat-form-field>
      <mat-form-field>
         <mat-label>Quantity</mat-label>
         <input matInput placeholder="how many projects in this budget">
         <mat-icon matSuffix>production_quantity_limits</mat-icon>
      </mat-form-field>
      <mat-form-field>
         <mat-label>Tax</mat-label>
         <input matInput placeholder="how much tax was billed for this budget">
         <mat-icon matSuffix>attach_money</mat-icon>
      </mat-form-field>
      <mat-form-field>
         <mat-label>Date</mat-label>
         <input matInput placeholder="when did this project begin - m/d/y">
         <mat-icon matSuffix>date_range</mat-icon>
      </mat-form-field>
      <mat-form-field>
         <mat-label>Due Date</mat-label>
         <input matInput placeholder="when was/is this project due - m/d/y">
         <mat-icon matSuffix>date_range</mat-icon>
      </mat-form-field>
   </div>
</mat-card>
