.form-container {
   max-width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.form-container > * {
   width: 70%;
}

.mat-card {
   width: 650px;
   height: 650px;
}

.form-group {
   display: flex;
   justify-content: space-between;
   margin: 0 auto;

   & > * {
      width: 40%;
      padding: 5px;
   }
}
