.invoice-table {
   width: 80%;
   height: 100%;
   margin: 0 auto;
}

.invoice-table-container {
   display: flex;
   flex-direction: column;
   max-height: 700px;
   min-width: 300px;
   position: relative;
}

.mat-table {
   overflow: auto;
   max-height: 500px;
}

.mat-column-ITEM {
   width: 340px;
   padding-right: 24px;
}

.mat-column-demo-symbol {
   width: 32px;
   text-align: center;
   font-weight: bold;
}


.flex-spacer {
   flex: 1 1 auto;
}


.menu-bar {
   display: flex;
   justify-content: space-between;
}

.action-button {
   color: rgb(225, 255, 255);
   background-color: #ff4081;
}

.loading-shade {
   position: absolute;
   top: 0;
   left: 0;
   bottom: 56px;
   right: 0;
   background: rgba(0, 0, 0, 0.15);
   z-index: 1;
   display: flex;
   align-items: center;
   justify-content: center;
}

.search-bar {
   width: 30%;
   border-bottom: none;
}

::ng-deep .mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-outline {
   opacity: 0;
}
