<div mat-dialog-content>
   <h1 mat-dialog-title>Create New Client</h1>

   <form class="form-container" [formGroup]="clientForm">
      <!-- first name-->
      <mat-form-field color="accent">
         <input matInput placeholder="First name" [(ngModel)]="data.firstName">
         <mat-error *ngIf="clientForm.controls['firstName'].invalid && clientForm.controls['firstName'].touched">firstName is required</mat-error>
      </mat-form-field>

      <!-- last name-->
      <mat-form-field color="accent">
         <input matInput placeholder="Last name" [(ngModel)]="data.name">
         <mat-error *ngIf="clientForm.controls['lastName'].invalid && clientForm.controls['lastName'].touched">lastName is required</mat-error>
      </mat-form-field>

      <!-- email address-->
      <mat-form-field color="accent">
         <mat-label>Email</mat-label>
         <input matInput placeholder="xlient@example.com" [(ngModel)]="data.email">
         <mat-error *ngIf="clientForm.controls['email'].invalid && clientForm.controls['email'].touched">email is required</mat-error>
      </mat-form-field>

      <!-- phone number -->
      <mat-form-field color="accent">
         <input matInput placeholder="Phone" [(ngModel)]="data.phone">
         <mat-error *ngIf="clientForm.controls['phone'].invalid && clientForm.controls['phone'].touched">phone is required</mat-error>
      </mat-form-field>
   </form>
</div>
<div mat-dialog-actions>
   <button mat-button mat-raised-button (click)="onNoClick()">Cancel</button>
   <button mat-button mat-raised-button [mat-dialog-close]="data.animal" color="accent">Save</button>
</div>
