<div mat-dialog-content>
   <h1 mat-dialog-title>Create New Client</h1>

   <form class="form-container" [formGroup]="clientForm">
      <!-- first name-->
      <mat-form-field color="accent">
         <input matInput placeholder="First name" formControlName="firstName">
         <mat-error *ngIf="clientForm.controls['firstName'].invalid && clientForm.controls['firstName'].touched">firstName is required</mat-error>
      </mat-form-field>

      <!-- last name-->
      <mat-form-field color="accent">
         <input matInput placeholder="Last name" formControlName="lastName">
         <mat-error *ngIf="clientForm.controls['lastName'].invalid && clientForm.controls['lastName'].touched">lastName is required</mat-error>
      </mat-form-field>

      <!-- email address-->
      <mat-form-field color="accent">
         <input matInput placeholder="Email" formControlName="email">
         <mat-error *ngIf="clientForm.controls['email'].invalid && clientForm.controls['email'].touched">email is required</mat-error>
      </mat-form-field>

      <!-- phone number -->
      <mat-form-field color="accent">
         <input matInput placeholder="Phone" formControlName="phone">
         <mat-error *ngIf="clientForm.controls['phone'].invalid && clientForm.controls['phone'].touched">phone is required</mat-error>
      </mat-form-field>
   </form>
</div>
<div mat-dialog-actions>
   <button mat-button mat-raised-button (click)="onNoClick()">Cancel</button>
   <button mat-button mat-raised-button [mat-dialog-close]="clientForm.value" color="accent" cdkFocusInitial>Save</button>
</div>
