<mat-card class="invoice-view">
   <mat-card-title>
      Invoice {{ invoice.item }}
   </mat-card-title>

   <mat-card-content>
      <table>
         <tr>
            <td class="column-title">Name</td>
            <td>{{ invoice.item }}</td>
         </tr>
         <tr>
            <td class="column-title">Amount</td>
            <td>{{ invoice.amount | currency }}</td>
         </tr>
         <tr>
            <td class="column-title">Quantity</td>
            <td>{{ invoice.quantity }}</td>
         </tr>
         <tr>
            <td class="column-title">Tax</td>
            <td>{{ invoice.tax | currency}}</td>
         </tr>
         <tr>
            <td class="column-title">Date</td>
            <td>{{ invoice.date | date:'mediumDate'}}</td>
         </tr>
         <tr>
            <td class="column-title">Due date</td>
            <td>{{ invoice.dueDate | date: 'mediumDate' }}</td>
         </tr>
         <mat-divider class="divider"></mat-divider>
         <tr>
            <td class="column-title">Client</td>
            <td>{{ invoice.client.firstName }} {{ invoice.client.lastName }}</td>
         </tr>
         <tr>
            <td class="column-title">Email</td>
            <td>{{ invoice.client.email }}</td>
         </tr>
         <tr>
            <td class="column-title">Phone</td>
            <td>{{invoice.client.phone | slice:0:3}}-{{invoice.client.phone | slice:3:5}}-{{invoice.client.phone | slice:5:-1}}</td>
         </tr>
         <tr>
            <td class="column-title">Total</td>
            <td>{{ total | currency }}</td>
         </tr>

      </table>
   </mat-card-content>

   <mat-card-actions class="invoice-view-btn">
      <button mat-raised-button color="primary" [routerLink]="['/dashboard', 'invoices', invoice._id]">Edit</button>
      <button mat-raised-button color="accent" (click)="downloadHandler(invoice._id)">Download</button>
   </mat-card-actions>
</mat-card>
